.intro {
  margin: 0rem 2rem 0rem 2rem;
}
.intro p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  font-weight: 100;
  text-align: left;
}

.i-do {
  display: flex;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  font-weight: 600;
  margin-left: 2rem;
}
.skill-section {
  display: flex;
  height: 9rem;
  width: 56rem;
  margin-left: 2rem;
}
.web, .game {
  height: 8rem;
  width: 22rem;
  background-color: rgb(32, 32, 32);
  border-radius: 1rem;
  box-shadow: 0.62rem 0.62rem 0.2rem rgb(17, 17, 17);
}
.web {
  margin-left: 3rem;
  display: flex;
}
.game {
  margin-left: 5rem;
  display: flex;
}
.logo-icon {
  display: flex;
  color: rgb(129, 125, 51);
  width: 4rem;
  height: 7rem;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-size: 4rem;
}
.text {
  height: 7rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
}
.title {
  width: 12rem;
  display: flex;
  height: 2rem;
  color: rgb(233, 233, 161);
  font-size: large;
}
.desc {
  height: 5rem;
  width: 15rem;
  display: flex;
  text-align: left;
  align-items: center;
}
.desc p {
  margin-bottom: 0.5rem;
  line-height: 1.2rem;
}
@media (min-width: 320px) and (max-width: 600px){
  .skill-section {
    height: 9rem;
    width: 100%;
    margin-left: 0rem;
    flex-direction: column;
  }
  .web {
    margin-left: 0rem;
    margin-bottom: 1rem;
  }
  .game {
    margin-left: 0rem;
  }
  .web, .game {
    height: 12rem;
    width: 90%;
    margin-left: 5%;

  }
  .data-section {
    height: 70rem;
  }
  .text {
    height: 9rem;
    width: 100%;
  }
  .title {
    width: 100%;
    height: 2rem;
  }
  .desc {
    height: 100%;
    width: 100%;
  }
  .desc p {
    margin-top: 0.4rem;
}
  .intro-section {
    height: 28rem;
  }
  .intro {
    margin-left: 1.2rem;
    margin-right: 1rem;
  }

}