.cert {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.blocks {
  width: 15rem;
  height: 10.8rem;
  border: 2px solid transparent;
  border-radius: 2rem;
  margin-top: 2rem;
}
.img {
    width: 15rem;
    height: 78%;
    border: 0.1rem solid black;
}
img {
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
}
.c-name {
  background-color: rgb(36, 34, 34);
  height: 22%;
  border-radius: 0.3rem;
}
h4 {
  margin: 0rem 0.2rem 0rem 0.2rem;
  text-align: left;
}
.spaces {
  display: none;
}
@media (min-width: 320px) and (max-width: 600px) {
  .blocks {
    margin-top: 0.5rem;
  }
  .spaces {
    display: block;
    width: 10rem;
    height: 4rem;
  }
}