.contact-main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: url('../Assets/contact.jpg');
  background-size:contain;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
}
.contact-main img {
  width: 100%;
  height: 100%;
  
}
.form {
  background-color: rgba(34, 12, 55, 0.6);
  width: 35%;
  height: 70%;
  border: 0.1rem solid blue;
  border-radius: 1rem;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  backdrop-filter: blur(2px);
}
input {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
.inp {
  margin: 0rem;
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form input {
  margin-left: 1rem;
  width: 70%;
  height: 2rem;
  border: 1.5px solid blue;
  border-radius: 0.6rem;
}

.form textarea {
  margin-left: 0.4rem;
  width: 90%;
  margin-right: 0.6rem;
  border: 1.5px solid blue;
  border-radius: 0.6rem;
  resize: none;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  font-size: medium;
  margin-top: 0.5rem;
}

.form label {
  font-size: larger;
  font-weight: 700;
}
.contact-msg {
  height: 50%;
}
.contact-btn {
  margin-top: 1rem;
}

.form button {
  width: 95%;
  height: 2.5rem;
  background-image: linear-gradient(blue,rgb(34, 12, 55));

}
.form button:hover {
  background-image: linear-gradient(rgb(34, 12, 55),blue);
}
.form button:focus {
  background-image: linear-gradient(blue);
}
.msg {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 600px) {
  .form {
  position: relative;
  top: -25rem;
  background-color: rgba(34, 12, 55, 0.6);
  width: 100%;
  height: 25%;
  border: 0.1rem solid rgb(77, 77, 226);
  margin: 0rem;
  z-index: 0;
}
.contact-main {
  background: none;
  background-color: rgba(0, 0, 0, 0.8);
}
}
