* {
  font-family: 'Times New Roman', Times, serif;
}
.projects {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
}
.p-title {
  margin: 1rem 0rem 0rem 2rem;
  width: 100%;
  display: flex;
}
.p-title h3 {
  margin: 0rem;
  text-decoration: underline;
  text-decoration-color: rgb(179, 179, 26);
}
.g-title {
  margin-top: 3rem;
}
.li {
  width: 100%;
  height: 32%;
  display: flex;
}
ul {
  margin-left: 1.5rem;
  text-align: left;
  color: rgb(211, 210, 210);
  list-style-type: circle;
}

.skills-title {
  height: 2rem;
  margin: 0.5rem 0rem 0rem 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.skills-title h2 {
  margin: 0rem 0rem 0rem 0.6rem;
  text-decoration: underline;
  text-decoration-color: yellow;
  text-decoration-thickness: 0.05rem;
}
.skills-zone {
  width: 54rem;
  height: 100%;
  margin-left: 2rem;
  display: flex;
  justify-content: space-around;
}
.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skill h4 {
  margin: 0rem;
}
.skill-icon {
  margin: 0.5rem 0rem 0rem 0rem;
  width: 1.5rem;
  height: 1.5rem;
}
@media (min-width: 320px) and (max-width: 600px) {
.li {
  height: 68%;
  line-height: 1.17rem;
}
.skills-title {
  margin: 0;
}
.space {
  height: 5rem;
  width: 100%;
}
.g-title {
  margin-top: 0rem;
}
.p-title {
  margin-left: 1.5rem;
}
.projects {
  height: 80%;
}
.skills-zone {
  width: 80%;
  height: 70%;
  margin-left: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
ul {
  margin-left: 0;

}
li {
  margin-right: 0.7rem;
}
}