a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: black;
  color: white;
  min-height: 100vh;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 0.5px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  border-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-section {
  margin: 2rem;
  height: 33rem;
  width: 13rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(20, 20, 20);
  border-radius: 1rem;
  border: 1px solid rgb(71, 70, 30);
  line-height: 0.4rem;
}
.profile-section {
  width: 13rem;
  height: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.image-dev img {
  height: 7rem;
  border-radius: 1rem;
}
.contact-section {
  display: flex;
  flex-direction: column;
  width: 13rem;
  height: 17rem;
  
}
.profile-section p {
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
}
.line {
  width: 10rem;
  height: 0.15rem;
  background-color: rgb(37, 36, 36);
  margin-top: 1rem;
}
.contact {
  display: flex;
  width: 13rem;
  height: 2.3rem;
  margin-bottom: 1.5rem;
}
.icon {
  border: 0.1rem solid rgb(34, 33, 33);
  border-radius: 1rem;
  padding: 0.4rem;
  color: rgb(129, 125, 51);
  background-color: rgb(27, 27, 27);
  height: 1rem;
  width: 1rem;
  margin-left: 0.4rem;

}
.txt {
  margin-left: 0.5rem;
  height: 2rem;
  width: 12rem;
  display: flex;
}
.txt p {
  line-height: 1rem;
  padding-right: 1rem;
  margin: 0px;
  font-size:small;
  overflow-wrap: anywhere;
  text-align: left;
  color: rgb(206, 198, 198);
  font-family: 'Times New Roman', Times, serif;
}
.ph {
  margin-top: 0.5rem;
}

/* data Section */

.data-section {
  height: 33rem;
  width: 60rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(20, 20, 20);
  border-radius: 1rem;
  border: 1px solid rgb(71, 70, 30);
}
.title-bar {
  width: 100%;
  height: 4rem;
  display: flex;

}

.NavBar {
  position: relative;
  left: 15rem;
  width: 35rem;
  height: 3rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: rgb(32, 32, 32);
}

.selected-tab {
  margin-top: 1rem;
  height: 3rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: yellow;
  text-decoration-thickness: 0.15rem;
}
nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.link {
  color: white;
  
}

.link:hover {
  color: rgb(243, 243, 95);
}
.active {
  text-decoration: underline;
  text-decoration-color: yellow;
  text-decoration-thickness: 0.09rem;
  color: yellow;
}
a {
  color: white;
}
.mobile {
  display: none;
}
@media (min-width: 320px) and (max-width: 600px){
  .main-container {
    flex-direction: column;
  }
  .intro-section {
    margin: 0.2rem;
    height: 95vh;
    width: 90vw;
  }
  .profile-section {
    width: 90vw;
  }
  .contact-section {
    width: 90vw;
  }
  .contact {
    width: 90vw;
    margin-left: 2rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
  }
  .contact .txt {
    width: 80%;
  }

  .title-bar {
    display: none;
  }
  .mobile {
    width: 98vw;
    height: 3rem;
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: #1a1a1a;
    border-radius: 0.5rem;
    margin-left: 1vw;
  }
  .mobile-nav {
    width: 100%;
    height: 100%;
  }
  .data-section {
    z-index: -2;
    margin: 0.2rem;
    height: 95vh;
    width: 90vw;
    border-color: black;
  }
  .contact {
  width: 100%;
  margin-left: 0px;
  }
}